<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--Изменение ссылки URL С "/index.jsp" НА "/hello-world" -->
    <servlet>
        <servlet-name>IndexJsp</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexJsp</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserForm</servlet-name>
        <jsp-file>/user_form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserForm</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetCookiesServlet</servlet-name>
        <servlet-class>selrvlets.SetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCookiesServlet</servlet-name>
        <url-pattern>/set-cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCookiesServlet</servlet-name>
        <servlet-class>selrvlets.GetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCookiesServlet</servlet-name>
        <url-pattern>/get-cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>selrvlets.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/delete-cookies</url-pattern>
    </servlet-mapping>
</web-app>